<mat-toolbar >
    <p><button style="margin-top: 10px;" mat-button (click)="sidenav.toggle()"><i class="fas fa-bars"></i></button></p>
    My<b>Money</b> 
    <span class="example-fill-remaining-space"></span>
    <span>
        <!-- <button mat-flat-button><i style="font-size: 20px;" class="far fa-user"></i></button> -->
        <button style="border: 1px solid #111111;" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <i style="font-size: 20px;" class="fas fa-user-alt"></i>
        </button>
        <mat-menu #menu="matMenu">
            <span><p style="margin-left: 15px; margin-right: 15px; font-size: 10px;">Zalogowano jako:</p></span>
            <span><p style="margin-left: 15px; margin-right: 15px; text-align: center;">{{displayName}}</p></span>
            <mat-divider></mat-divider>
            <button (click)="logout()" style="margin-left: 15px; margin-right: 15px; margin-top: 10px;" mat-stroked-button color="primary">
              <span>Wyloguj</span>
            </button>
        </mat-menu>
    </span>
</mat-toolbar>


<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
        <div class="div-roomList">
            <p style="width: 100%; text-align: center;"><b>Twoje pokoje budżetowe:</b></p>
    
            <div style="margin: 0 auto;">
                <mat-form-field style="width: 70%;">
                    <input [(ngModel)]="newRoomName" style="width: 100%" name="newRoomName"  matInput placeholder="Nazwa pokoju:">
                </mat-form-field>
                <button (click)="addNewRoom()" style="margin-top: 5px; margin-left: 15px; border-width: 10px !important; border-color: #114d24; background-color: transparent; color: black; font-size: 20px;" mat-mini-fab value="Submit" type="button"><b> <i class="fas fa-plus"></i></b></button>
            </div> 
                <div class="code-editor-options-menu" *ngFor="let dat of roomList.rooms">
                        <button style="width: 100%; margin-bottom: 15px;" mat-stroked-button aria-hidden="true" (click)="setCurrentRoom(dat)" routerLink='/room/{{dat._id}}'>{{dat.roomName}}</button>
                </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>

            <div style="overflow:auto;">
                <div style="margin-top: 15px; margin-left: 15px; float: left;">
                    <p style="font-size: 20px;">Aktualnie znajdujesz się w pokoju:</p> <br>
                    <p style="font-size: 24px;">{{currentRoomName}}</p> 
                </div>
                
                <div style="float: right; margin-top: 15px; margin-right: 15px;">
                    <button mat-stroked-button (click)="deleteRoom()"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
           
            <mat-divider style="margin-left: 15px; margin-right: 15px;"></mat-divider>
            
            <div>
                <mat-card style="width: 30%; margin-left: 15px; margin-top: 15px; float: left;">
                    <p>Lista użytkowników danego pokoju:</p>
                    <mat-form-field style="width: 88%;">
                        <input [(ngModel)]="newUserEmail" style="width: 100%" name="newUserEmail"  matInput placeholder="Email użytkownika:">
                    </mat-form-field>
                    <button (click)="addNewUser()" style="margin-top: 5px; margin-left: 15px; border-width: 10px !important; border-color: #114d24; background-color: transparent; color: black; font-size: 20px;" mat-mini-fab value="Submit" type="button"><b> <i class="fas fa-plus"></i></b></button>
    
                    <table mat-table [dataSource]="dataSource" style="width: 100%;">
      
                        <ng-container matColumnDef="displayName">
                            <th mat-header-cell *matHeaderCellDef> Użytkownik: </th>
                            <td mat-cell *matCellDef="let element"><button mat-button style="width: 100%;" type="button"> {{element.displayName}}</button>  </td>
                        </ng-container>
                  
                        <ng-container matColumnDef="options">
                            <th style="width: 80px;" mat-header-cell *matHeaderCellDef> Opcje: </th>
                            <td mat-cell *matCellDef="let element">
                                <button (click)="deleteUserFromRoom(element._id)" mat-stroked-button color="warn"><i class="fas fa-trash-alt"></i></button> 
                            </td>
                        </ng-container>
                  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  
                    <mat-paginator style="margin-bottom: 50px;"
                        [length]="length"
                        [pageIndex]="pageIndex"
                        [pageSizeOptions]="[5, 10, 25, 100]"
                        [pageSize]="pageSize" 
                        
                        showFirstLastButtons
                        data-pagesize="pageSize"
                      >
                    </mat-paginator>
                </mat-card>
                    
                <mat-card style="width: 63%; margin-left: 15px; margin-top: 15px; float: left; min-height: 700px;">
                    <p style="float: left;">Podsumowanie transakcji pokoju:</p>
                    <div style="float: right;">
                        <button (click)="addNewIncome()" mat-raised-button>Dodaj przychód  <i class="fas fa-plus"></i></button>
                        <button (click)="addNewExpense()" style="margin-left: 15px;" mat-raised-button>Dodaj wydatek  <i class="fas fa-plus"></i></button>
                    </div>
                    <mat-tab-group style="width: 100%;">
                        <mat-tab>
                        <ng-template mat-tab-label>
                            <i style="padding-right: 10px;" class="fas fa-table"></i>
                            Transakcje
                        </ng-template>

                        <div style="margin-top: 15px;">
                            <mat-form-field style="width: 25%; margin-right: 15px;">
                                <mat-label>Wybierz date początkową:</mat-label>
                                <input (dateChange)="refreshTable()" matInput [matDatepicker]="picker" [(ngModel)]="startDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            <mat-form-field style="width: 25%; margin-right: 15px;">
                                <mat-label>Wybierz date końcową:</mat-label>
                                <input (dateChange)="refreshTable()" matInput [matDatepicker]="picker2" [(ngModel)]="endDate">
                                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                            </mat-form-field>
                            <mat-checkbox (change)="refreshTable()" [color]="'primary'" style="margin-right: 15px;" class="example-margin" [(ngModel)]="expenseCheckbox">Wydatki</mat-checkbox>
                            <mat-checkbox (change)="refreshTable()" [color]="'primary'" style="margin-right: 15px;" class="example-margin" [(ngModel)]="incomeCheckbox">Przychody</mat-checkbox>
                            <mat-form-field appearance="fill">
                                <mat-label>Wybierz kategorie:</mat-label>
                                <mat-select [(ngModel)]="filterCategory">
                                    <mat-option *ngFor="let item of categoryList" [value]="item">{{item.categoryName}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <mat-divider></mat-divider>

                        <table mat-table [dataSource]="transactionsDataSource" style="width: 100%;">
                            
                            <ng-container matColumnDef="arrow">
                                <th mat-header-cell *matHeaderCellDef  style="width: 5%;"> Typ: </th>
                                <td mat-cell *matCellDef="let element">
                                    <button *ngIf="element.income" mat-button style="width: 100%;" type="button"><i style="color: green" class="fas fa-arrow-up"></i></button> 
                                    <button *ngIf="!element.income" mat-button style="width: 100%;" type="button"><i style="color: red" class="fas fa-arrow-down"></i></button>   
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="transactionName">
                                <th mat-header-cell *matHeaderCellDef> Tytuł transakcji: </th>
                                <td mat-cell *matCellDef="let element"><button mat-button style="width: 100%;" type="button"> {{element.transactionName}}</button>  </td>
                            </ng-container>
                      
                            <ng-container matColumnDef="transactionDescription">
                                <th style="width: 80px;" mat-header-cell *matHeaderCellDef> Opis transakcji: </th>
                                <td mat-cell *matCellDef="let element"><button mat-button style="width: 100%;" type="button"> {{element.transactionDescription}}</button>  </td>
                            </ng-container>

                            <ng-container matColumnDef="transactionValue">
                                <th style="width: 80px;" mat-header-cell *matHeaderCellDef> Wartość: </th>
                                <td mat-cell *matCellDef="let element"><button mat-button style="width: 100%;" type="button"> {{element.transactionValue}}</button>  </td>
                            </ng-container>

                            <ng-container matColumnDef="transactionDate">
                                <th style="width: 80px;" mat-header-cell *matHeaderCellDef> Data: </th>
                                <td mat-cell *matCellDef="let element"><button mat-button style="width: 100%;" type="button"> {{element.transactionDate | date:'dd/MM/yyyy'}}</button>  </td>
                            </ng-container>

                            <ng-container matColumnDef="category">
                                <th style="width: 80px;" mat-header-cell *matHeaderCellDef> Kategoria: </th>
                                <td mat-cell *matCellDef="let element"><button mat-button style="width: 100%;" type="button"> {{element.categoryName}}</button>  </td>
                            </ng-container>

                            <ng-container matColumnDef="options">
                                <th style="width: 80px;" mat-header-cell *matHeaderCellDef> Opcje: </th>
                                <td mat-cell *matCellDef="let element"> 
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                        <mat-icon>more_vert</mat-icon>
                                      </button>
                                      <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="deleteTransaction(element._id)">
                                          <mat-icon>delete</mat-icon>
                                          <span>Usuń</span>
                                        </button>
                                      </mat-menu>
                                </td>
                            </ng-container>
                      
                          <tr mat-header-row *matHeaderRowDef="transactionsDisplayedColumns"></tr>
                          <tr mat-row *matRowDef="let row; columns: transactionsDisplayedColumns;"></tr>
                        </table>


                        </mat-tab>
                    
                        <mat-tab>
                        <ng-template mat-tab-label>
                            <i style="padding-right: 10px;" class="fas fa-chart-area"></i>
                            Podsumowanie
                        </ng-template>
                        Content 2

                        <div class="chart">
                            <canvas baseChart
                              [data]="pieChartData"
                              [labels]="pieChartLabels"
                              [chartType]="pieChartType"
                              [options]="pieChartOptions"
                              [plugins]="pieChartPlugins"
                              [colors]="pieChartColors"
                              [legend]="pieChartLegend">
                            </canvas>
                          </div>

                          <div style="display: block">
                            <canvas baseChart
                              [datasets]="barChartData"
                              [labels]="barChartLabels"
                              [options]="barChartOptions"
                              [plugins]="barChartPlugins"
                              [legend]="barChartLegend"
                              [chartType]="barChartType">
                            </canvas>
                          </div>

                        </mat-tab>
                    </mat-tab-group>
                </mat-card>
            </div>
            


    </mat-sidenav-content>
</mat-sidenav-container>